<!DOCTYPE html>
<html>
<head>
    <title>Image Download Example</title>
</head>
<body>
    <h1>Image Download Example</h1>
    <p>Here is an image served by Express:</p>
    <img src="/images/example.jpg" alt="Example Image" width="300">
    <br><br>
    <a href="/download-image">
        <button type="button">Download Image</button>
    </a>
</body>
</html>
